@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes orbit {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
@keyframes anti-orbit {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-orbit {
  animation: orbit 180s linear infinite;
}
.animate-anti-orbit {
  animation: anti-orbit 180s linear infinite;
}